@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url(/img/fondoForm.jpeg) no-repeat center center fixed ;
    background-size: cover;
}

/*MENÚ*/
.container__menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 100px;

}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

#selected{
    background: #F6615D;
    padding: 10px 40px;
    border-radius: 50px;
}

.menu nav img{
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background-color: rgba(255, 255, 255, 0.542);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(217, 83, 98);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}


label {
    font-size: 14px;
}
